{% extends "_template.html" %}
{% block content %}

<!--
  Boilerplate for the TrailheaDX 2017 workshop:
  "Rapid prototyping with the Design System Starter Kit and UI Kit"
  https://tdx-starter-kit.herokuapp.com/
-->


<!-- PAGE HEADER: https://www.lightningdesignsystem.com/components/page-headers/?variant=record-home -->
  <!-- INSERT CODE HERE -->
<!-- /PAGE HEADER -->

<!-- PROGRESS INDICATOR: https://www.lightningdesignsystem.com/components/progress-indicator/?modifiers=.slds-is-active&variant=base -->
  <!-- INSERT CODE HERE -->
<!-- /PROGRESS INDICATOR -->

<!-- COLUMNS - already populated for you: https://www.lightningdesignsystem.com/utilities/grid/?example=regions-with-sizing&variant=grid -->
<div class="slds-grid slds-wrap slds-grid_pull-padded">

  <!-- COLUMN #1 -->
  <div class="slds-p-horizontal_large slds-size_2-of-3">

    <!-- TABS: https://www.lightningdesignsystem.com/components/tabs/?modifiers=.slds-is-active&variant=base -->
    <!-- ACTIVITY TIMELINE - replace "Item One Content": https://www.lightningdesignsystem.com/components/activity-timeline/?variant=base -->
    <div class="slds-p-around_small slds-card slds-card_boundary">
        <div class="slds-m-bottom_medium slds-text-heading_small">Quick Actions</div>
        <lightning:layout>
            <lightning:layoutItem flexibility="grow">
                <div class="slds-m-bottom_x-small slds-align_absolute-center">
                    <lightning:icon iconName="action:share_post" size="small" variant="slds-icon-inverse"></lightning:icon>
                </div>
                <div class="slds-align_absolute-center">
                    <div class="slds-text-title slds-text-color_weak">Post</div>
                </div>
            </lightning:layoutItem>
            <lightning:layoutItem flexibility="grow">
                <div class="slds-m-bottom_x-small slds-align_absolute-center">
                    <lightning:icon iconName="action:new_task" size="small" variant="slds-icon-inverse"></lightning:icon>
                </div>
                <div class="slds-align_absolute-center">
                    <div class="slds-text-title slds-text-color_weak">Task</div>
                </div>
            </lightning:layoutItem>
            <lightning:layoutItem flexibility="grow">
                <div class="slds-m-bottom_x-small slds-align_absolute-center">
                    <lightning:icon iconName="action:new_event" size="small" variant="slds-icon-inverse"></lightning:icon>
                </div>
                <div class="slds-align_absolute-center">
                    <div class="slds-text-title slds-text-color_weak">Event</div>
                </div>
            </lightning:layoutItem>
            <lightning:layoutItem flexibility="grow">
                <div class="slds-m-bottom_x-small slds-align_absolute-center">
                    <lightning:icon iconName="action:add_contact" size="small" variant="slds-icon-inverse"></lightning:icon>
                </div>
                <div class="slds-align_absolute-center">
                    <div class="slds-text-title slds-text-color_weak">Contact</div>
                </div>
            </lightning:layoutItem>
            <lightning:layoutItem flexibility="grow">
                <div class="slds-m-bottom_x-small slds-align_absolute-center">
                    <lightning:icon iconName="action:more" size="small" variant="slds-icon-inverse"></lightning:icon>
                </div>
                <div class="slds-align_absolute-center">
                    <div class="slds-text-title slds-text-color_weak">More</div>
                </div>
            </lightning:layoutItem>
        </lightning:layout>
    </div>
    <!-- /TABS -->

  </div>
  <!-- /COLUMN #1 -->

  <!-- COLUMN #2 -->
  <div class="slds-p-horizontal_large slds-size_1-of-3">

    <!-- CARD: https://www.lightningdesignsystem.com/components/cards/?variant=base -->
      <!-- INSERT CODE HERE -->
    <!-- /CARD -->

  </div>
  <!-- /COLUMN #2 -->

</div>
<!-- /COLUMNS -->

{% endblock %}
