{% extends "_template.html" %}
{% block content %}

<!--
  Boilerplate for the TrailheaDX 2017 workshop:
  "Rapid prototyping with the Design System Starter Kit and UI Kit"
  https://tdx-starter-kit.herokuapp.com/
-->


<!-- PAGE HEADER: https://www.lightningdesignsystem.com/components/page-headers/?variant=record-home -->
  <!-- INSERT CODE HERE -->
<!-- /PAGE HEADER -->

<!-- PROGRESS INDICATOR: https://www.lightningdesignsystem.com/components/progress-indicator/?modifiers=.slds-is-active&variant=base -->
  <!-- INSERT CODE HERE -->
<!-- /PROGRESS INDICATOR -->

<!-- COLUMNS - already populated for you: https://www.lightningdesignsystem.com/utilities/grid/?example=regions-with-sizing&variant=grid -->
<div class="slds-grid slds-wrap slds-grid_pull-padded">

  <!-- COLUMN #1 -->
  <div class="slds-p-horizontal_large slds-size_2-of-3">

    <!-- TABS: https://www.lightningdesignsystem.com/components/tabs/?modifiers=.slds-is-active&variant=base -->
    <!-- ACTIVITY TIMELINE - replace "Item One Content": https://www.lightningdesignsystem.com/components/activity-timeline/?variant=base -->
    <div class="slds-clearfix slds-p-around_small slds-card slds-card_boundary visual-area-positions--left-half" dropzone="div">
        <div class="visual-area-positions--left-half" closertotopclass="project-canvas-element--closer-to-top">
            <div class="slds-m-bottom_medium slds-text-heading_small">Quick Actions</div>
        </div>
        <div class="visual-area-positions--left-half" closertotopclass="project-canvas-element--closer-to-top">
            <div class="slds-grid slds-grid_pull-padded-medium">
                <div class="slds-clearfix slds-col slds-p-horizontal_medium visual-area-positions--left-half" dropzone="grid column 0">
                    <div class="visual-area-positions--left-half" closertotopclass="project-canvas-element--closer-to-top">
                        <div class="slds-clearfix slds-m-bottom_x-small slds-align_absolute-center visual-area-positions--left-half" dropzone="div">
                            <div class="visual-area-positions--left-half" closertotopclass="project-canvas-element--closer-to-top"><span class="slds-icon_container slds-icon-action-share-post " title=""> <svg class="slds-icon slds-icon_small slds-icon-text-slds-icon-inverse"> <use xlink:href="assets/icons/action-sprite/svg/symbols.svg#share_post"></use></svg></span></div>
                        </div>
                    </div>
                    <div class="visual-area-positions--left-half" closertotopclass="project-canvas-element--closer-to-top">
                        <div class="slds-clearfix slds-align_absolute-center" dropzone="div">
                            <div class="visual-area-positions--left-half" closertotopclass="project-canvas-element--closer-to-top">
                                <div class="slds-text-title slds-text-color_weak">Post</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-clearfix slds-col slds-p-horizontal_medium visual-area-positions--left-half" dropzone="grid column 1">
                    <div class="visual-area-positions--left-half" closertotopclass="project-canvas-element--closer-to-top">
                        <div class="slds-clearfix slds-m-bottom_x-small slds-align_absolute-center visual-area-positions--left-half" dropzone="div">
                            <div class="visual-area-positions--left-half" closertotopclass="project-canvas-element--closer-to-top"><span class="slds-icon_container slds-icon-action-new-task " title=""> <svg class="slds-icon slds-icon_small slds-icon-text-slds-icon-inverse"> <use xlink:href="assets/@salesforce-ux/design-system/assets/icons/action-sprite/svg/symbols.svg#new_task"></use></svg></span></div>
                        </div>
                    </div>
                    <div class="visual-area-positions--left-half" closertotopclass="project-canvas-element--closer-to-top">
                        <div class="slds-clearfix slds-align_absolute-center visual-area-positions--left-half" dropzone="div">
                            <div class="visual-area-positions--left-half" closertotopclass="project-canvas-element--closer-to-top">
                                <div class="slds-text-title slds-text-color_weak">Task</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-clearfix slds-col slds-p-horizontal_medium visual-area-positions--left-half" dropzone="grid column 2">
                    <div class="visual-area-positions--left-half" closertotopclass="project-canvas-element--closer-to-top">
                        <div class="slds-clearfix slds-m-bottom_x-small slds-align_absolute-center visual-area-positions--left-half" dropzone="div">
                            <div class="visual-area-positions--left-half" closertotopclass="project-canvas-element--closer-to-top"><span class="slds-icon_container slds-icon-action-new-event " title=""> <svg class="slds-icon slds-icon_small slds-icon-text-slds-icon-inverse"> <use xlink:href="assets/@salesforce-ux/design-system/assets/icons/action-sprite/svg/symbols.svg#new_event"></use></svg></span></div>
                        </div>
                    </div>
                    <div class="visual-area-positions--left-half" closertotopclass="project-canvas-element--closer-to-top">
                        <div class="slds-clearfix slds-align_absolute-center" dropzone="div">
                            <div class="visual-area-positions--left-half" closertotopclass="project-canvas-element--closer-to-top">
                                <div class="slds-text-title slds-text-color_weak">Event</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-clearfix slds-col slds-p-horizontal_medium visual-area-positions--left-half" dropzone="grid column 3">
                    <div class="visual-area-positions--right-half" closertotopclass="project-canvas-element--closer-to-top">
                        <div class="slds-clearfix slds-m-bottom_x-small slds-align_absolute-center visual-area-positions--right-half" dropzone="div">
                            <div class="visual-area-positions--right-half" closertotopclass="project-canvas-element--closer-to-top"><span class="slds-icon_container slds-icon-action-add-contact " title=""> <svg class="slds-icon slds-icon_small slds-icon-text-slds-icon-inverse"> <use xlink:href="assets/@salesforce-ux/design-system/assets/icons/action-sprite/svg/symbols.svg#add_contact"></use></svg></span></div>
                        </div>
                    </div>
                    <div class="visual-area-positions--right-half" closertotopclass="project-canvas-element--closer-to-top">
                        <div class="slds-clearfix slds-align_absolute-center" dropzone="div">
                            <div class="visual-area-positions--right-half" closertotopclass="project-canvas-element--closer-to-top">
                                <div class="slds-text-title slds-text-color_weak">Contact</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slds-clearfix slds-col slds-p-horizontal_medium visual-area-positions--left-half" dropzone="grid column 4">
                    <div class="visual-area-positions--right-half" closertotopclass="project-canvas-element--closer-to-top">
                        <div class="slds-clearfix slds-m-bottom_x-small slds-align_absolute-center visual-area-positions--right-half" dropzone="div">
                            <div class="visual-area-positions--right-half" closertotopclass="project-canvas-element--closer-to-top"><span class="slds-icon_container slds-icon-action-more " title=""> <svg class="slds-icon slds-icon_small slds-icon-text-slds-icon-inverse"> <use xlink:href="assets/@salesforce-ux/design-system/assets/icons/action-sprite/svg/symbols.svg#more"></use></svg></span></div>
                        </div>
                    </div>
                    <div class="visual-area-positions--right-half" closertotopclass="project-canvas-element--closer-to-top">
                        <div class="slds-clearfix slds-align_absolute-center" dropzone="div">
                            <div class="visual-area-positions--right-half" closertotopclass="project-canvas-element--closer-to-top">
                                <div class="slds-text-title slds-text-color_weak">More</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /TABS -->

  </div>

  <!-- /COLUMN #1 -->

  <!-- COLUMN #2 -->
  <div class="slds-p-horizontal_large slds-size_1-of-3">

    <!-- CARD: https://www.lightningdesignsystem.com/components/cards/?variant=base -->
      <!-- INSERT CODE HERE -->
    <!-- /CARD -->

  </div>
  <!-- /COLUMN #2 -->

</div>
<!-- /COLUMNS -->

{% endblock %}
